@font-face {
  font-family: Gadugi;
  font-weight: 400;
  src: url(../font/gadugi-normal.ttf);
}
@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: url(../font/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat;
  font-weight: 500;
  src: url(../font/Montserrat-Bold.ttf);
}
@font-face {
  font-family: MontserratAlternates;
  font-weight: 400;
  src: url(../font/MontserratAlternates-Regular.ttf);
}
@font-face {
  font-family: MontserratAlternates;
  font-weight: bold;
  src: url(../font/MontserratAlternates-Bold.ttf);
}
@font-face {
  font-family: MontserratAlternates;
  font-weight: 900;
  src: url(../font/MontserratAlternates-Black.ttf);
}
@font-face {
  font-family: MicrosoftYaHei;
  src: url(../font/chinese.msyh.ttf);
}
@font-face {
  font-family: MicrosoftYaHei;
  src: url(../font/Microsoft-YaHei-Bold-Font.ttf);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  box-sizing: border-box;
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}
header {
  background: #fff;
  padding: 15px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > button {
    padding: 0 12px;
    color: rgba(87, 62, 13, 1);
    background-color: transparent;
    border: 2px solid #d3c546;
    border-radius: 2px;
  }
}

.menu__link-show {
  display: none;
  position: absolute;
  top: 40px;
  background: linear-gradient(102.34deg, #fff59e 7.07%, #ffe767 104.19%);
  > li a {
    text-decoration: none;
    color: rgba(46, 36, 1, 1);
    font-family: Montserrat;
    font-size: 20px;
  }
  li {
    padding: 18px;
    width: 270px;
  }
  li:hover {
    background: rgba(255, 230, 0, 1);
  }
}
.menu__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  position: relative;
  .menu__list-item-logo {
    display: none;
  }
  > .menu__list-item {
    padding: 16px 0;
    &:last-child {
      display: none;
    }
  }
  > li:nth-child(2) {
    position: relative;
  }
  li:nth-child(2):hover {
    .menu__link-show {
      display: block;
      list-style: none;
      text-decoration: none;
    }
  }
}

.menu__link {
  margin-right: 58px;
  color: rgba(46, 36, 1, 1);
  font-size: 18px;
  text-decoration: none;
  font-family: Montserrat;
}
.menu__text {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: rgba(95, 78, 21, 1);
  text-align: center;
  > div:first-child {
    margin-right: 10px;
  }
  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    p {
      font-family: Montserrat;
    }
  }
  > div:first-child {
    p {
      font-size: 11px;
    }
  }
}
.button__end {
  display: none;
}
.enter__button {
  display: none;
  color: rgba(124, 92, 10, 1);
  font-family: Montserrat;
  font-weight: 300;
  border: none;
  font-size: 16px;
  font-style: normal;
  line-height: 26px;
  position: relative;
  right: -110px;
}
.nav__toggle {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  color: rgba(124, 92, 10, 1);
  span:before {
    content: "";
    background: #7c5c0a;
    display: block;
    height: 4px;
    margin-bottom: 6px;
  }
}

.intruduction {
  min-height: 500px;
  background: linear-gradient(
    0deg,
    #ffd600 0%,
    #ffe600 18.77%,
    #ffc700 63.5%,
    #ffb800 100%
  );
  padding: 16px 60px;
}
.social {
  display: flex;
  justify-content: end;
  :nth-child(2) {
    margin: 0 20px;
  }

  > p {
    font-family: MontserratAlternates;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
  }
}
.intruduction__text-show {
  display: none;
}
h1 {
  font-family: MontserratAlternates;
  font-size: 90px;
  font-style: normal;
  font-weight: 900;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 29px;
  text-shadow: 0px 4px 20px black;
}
.first__text {
  margin-bottom: 20px;
}
.first__text-item {
  font-family: MontserratAlternates;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: rgba(109, 94, 37, 1);
}

.subtitle {
  position: relative;
  margin-bottom: 46px;

  div:first-child {
    display: flex;
    align-items: center;
    margin-bottom: 46px;
    > h2 {
      display: inline-block;
      font-family: Microsoft YaHei;
      font-size: 32px;
      font-style: normal;
      font-weight: bold;
      text-align: left;
    }
    span {
      display: inline-block;
      width: 5px;
      height: 5px;
      background: #2e2401;
      border-radius: 50%;
      margin: 0 17px;
    }
  }

  > button {
    height: 59px;
    width: 285px;
    border-radius: 11px;
    background: linear-gradient(189.03deg, #2d3fe2 9.57%, #071169 95.91%);
    font-family: MontserratAlternates;
    font-size: 17px;
    font-style: normal;
    border: none;
    cursor: pointer;
    font-weight: 900;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 253, 248, 1);
    margin-bottom: 108px;
    &:hover {
      background: linear-gradient(189.03deg, #6474ff 9.57%, #041ae1 95.91%);
    }
  }
}
.subtitle__firsttext {
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  text-align: left;
  margin-bottom: 27px;
  color: rgba(68, 49, 0, 1);
}
.subtitle__secondtext {
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}
.sub__image {
  position: absolute;
  z-index: 2;
  height: 298px;
  width: 480px;
  top: 210px;
  border-radius: 0px;
  right: 0;
}
.subsub__image {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  height: 160px;
  width: 160px;
  right: 0;
}
.container.evaluate {
  padding: 112px 0 95px;
  margin: 0 auto;
}
.row__items-test {
}
.evaluate__title {
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  text-align: center;
  margin: 0 auto 30px auto;
  color: rgba(46, 36, 1, 1);
}
.evaluate__title-text {
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
  margin-bottom: 10px;
  color: rgba(73, 47, 16, 1);
}
.evaluate__button {
  height: 52px;
  width: 250px;

  border-radius: 11px;
  background: linear-gradient(157.95deg, #fff500 2.32%, #ffd600 73.49%);
  display: block;
  margin: 0 auto;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  text-align: center;
  margin-bottom: 97px;
  border: none;
  &:hover {
    background: linear-gradient(157.95deg, #fff854 2.32%, #fff623 73.49%);
    cursor: pointer;
    border: none;
  }
}
.row__items-about {
}
.h2 {
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;

  .top__border {
    width: 65px;
    height: 4px;
    background: black;
    display: block;
  }
}

.about__first-text {
  max-width: 540px;
  > p {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    margin-bottom: 30px;
  }
}
.courses {
  background: linear-gradient(275.08deg, #000a60 -17.51%, #0a75d9 97.22%);
  padding-top: 25px;
  padding-bottom: 50px;
}
.about__second {
  display: flex;
  justify-content: space-between;

  .about__second-image {
    > img {
      width: 250px;
      height: 250px;
      margin: 0 auto;
      display: block;
    }
  }
}
.about__second-text {
  max-width: 475px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  align-self: end;
}
.courses__items {
  display: flex;
  justify-content: space-between;
  max-width: 830px;
  margin: 0 auto;
}

.courses__text-title {
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 49px;
  text-align: left;
  color: rgba(255, 253, 243, 1);
  margin-bottom: 10px;
  > span {
    width: 65px;
    height: 4px;
    background: white;
    display: block;
  }
}
.courses__text-subtitle {
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
  text-align: left;
  color: rgba(255, 253, 243, 1);
  margin-bottom: 36px;
}
.courses__items-block {
  img {
    width: 170px;
  }
}
.course__adaptive-menu {
  display: none;
}

.footer__container {
  background: linear-gradient(180deg, #082a85 0%, #082165 100%);
  color: rgba(222, 228, 238, 1);
  padding: 19px 56px;
  padding: 20px 40px;
}

.data {
  color: rgba(222, 228, 238, 1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
.footer__menu {
  padding: 40px;
  display: flex;
  ul {
    list-style: none;
    margin-right: 28px;
    width: 50%;

    li a {
      color: rgba(222, 228, 238, 1);
      font-family: Montserrat;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      text-align: left;
      text-decoration: none;
      word-break: break-word;
    }
  }
}

.data__block-1 {
  display: flex;
  flex-direction: column;
  > input {
    text-align: center;
    height: 35px;
    width: 255px;
    border-radius: 5px;
    color: rgba(208, 208, 208, 1);
    margin-bottom: 12px;
  }
  > h3 {
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    margin-bottom: 24px;
  }
  > a {
    width: 255px;
    border-radius: 10px;
    background: linear-gradient(180deg, #1556b7 0%, #0757cd 100%);

    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    line-height: 18px;
    text-align: center;
    color: rgba(222, 228, 238, 1);
    padding: 10px;
    text-decoration: none;
    margin-bottom: 15px;
    &:hover {
      background: linear-gradient(180deg, #77aeff 0%, #3f8cff 100%);
      cursor: pointer;
    }
  }
}
.footer__button {
}
.footer__logo2 {
  display: none;
}
.data__block-4 {
}
.footer__social {
  display: flex;
  flex-direction: column;
  padding-top: 85px;
}
.footer__social-icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 80%;
  align-self: end;
}
.contacts__adress {
  text-align: right;
  margin-bottom: 20px;
  > p {
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    line-height: 16px;
    margin-bottom: 6px;
  }
  > a {
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    color: white;
    margin-bottom: 24px;
  }
}
.contacts__tell {
  text-align: right;
  > p:first-child {
    margin-bottom: 8px;
  }
}
.contaiter.choice {
  width: 1140px;
  padding: 50px;
}
.choice__title {
  font-family: Montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 43px;
  text-align: center;
  margin: 0 auto 70px auto;
}
@media (max-width: 1200px) {
  .header {
    .button__first {
      display: none;
    }
  }
  .button__end {
    display: block;
    padding: 0 12px;
    color: rgba(87, 62, 13, 1);
    background-color: transparent;
    border: 2px solid #d3c546;
    border-radius: 2px;
  }
  .menu__text {
    display: none;
  }

  .intruduction__text-show {
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    text-align: right;
    & div:first-child {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      color: rgba(57, 52, 0, 1);
      line-height: 17px;
    }
    & div:last-child {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      text-align: right;
      color: rgba(255, 246, 212, 1);
      line-height: 18px;
      margin-bottom: 10px;
    }
  }
  .first__text-item {
    display: inline-block;
    margin-bottom: 10px;
  }
  h1 {
    font-size: 65px;
  }
  .subtitle {
    div:first-child {
      h2 {
        font-size: 23px;
      }
    }
  }
  .sub__image {
    right: 0;
    top: 155px;
    width: 350px;
    height: 280px;
  }
  h3 {
  }
  .container.evaluate {
    padding: 40px;
  }
  .courses__text-title {
    > span {
      display: none;
    }
  }
  .courses__text {
    padding: 0 40px 20px 40px;
  }
  .about__first-text {
    width: 640px;
    max-width: 640px;
  }
  .about__second-text {
    max-width: 480px;
  }
  .data {
    max-width: 780px;
  }
  .data__block-1 {
    width: 50%;
    margin-bottom: 20px;
    > h3 {
      font-weight: 300;
    }
    > input {
      font-size: 17px;
    }
    .footer__logo img {
      width: 127px;
    }
  }
  .footer__menu {
    width: 50%;
    padding: 40px 0 0 0;
    justify-content: space-between;
  }
  .footer__menu ul {
    li {
      margin-bottom: 10px;
      a {
        font-size: 17px;
      }
    }
  }
  .footer__social {
    padding: 0;
    .footer__social-icons {
      width: 100%;
      justify-content: start;
      a:nth-child(2) {
        margin: 0 10px;
      }
    }
    .footer__social-contacts {
      display: flex;
    }
    .contacts__adress {
      text-align: left;
      margin-right: 40px;
    }
  }
}

@media (max-width: 800px) {
  .sub__image {
    right: 0;
    top: 180px;
    width: 250px;
    height: 200px;
  }
}
@media (max-width: 992px) {
  .header {
    justify-content: space-between;
  }

  h1 {
    font-size: 60px;
  }
  .subtitle {
    div:first-child {
      h2 {
        font-size: 17px;
      }
    }
  }

  .menu__list {
    .menu__link {
      margin-right: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }
  }
  .first__text-item {
    display: flex;
    flex-direction: column;
    line-height: 18px;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .about__second-text {
    max-width: 390px;
  }
  .subtitle {
    > button {
      height: 55px;
      width: 270px;
      border-radius: 11px;
      margin-bottom: 70px;
    }
  }
  .subtitle__secondtext {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: rgba(95, 78, 21, 1);
  }
  .container.evaluate {
    padding: 35px;
  }
  .sub__image {
    height: 209px;
    width: 262px;
    right: 0;
    top: 168px;
  }
  .evaluate__title {
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
  }
  .evaluate__title-text {
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    padding: 0 34px 0 34px;
  }
  .enter__button {
    text-align: center;
  }
  .h2 {
    element.style {
      font-size: 40px;
      font-style: normal;
      font-weight: 900;
      line-height: 49px;
      text-align: left;
      width: 440px;
    }
    element.style {
      font-family: Montserrat;
      font-size: 40px;
      font-style: normal;
      font-weight: 900;
      line-height: 49px;
      letter-spacing: 0em;
      text-align: left;
      width: 440px;
    }
    .top__border {
      display: none;
    }
  }
  .about__first-text {
    width: 485px;
    max-width: 485px;
    margin-bottom: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    text-align: left;
  }
  .about__second-image {
    padding-left: 50px;
  }
  .courses__text-title {
    font-size: 30px;
    font-weight: 900;
    line-height: 37px;
    text-align: left;
  }
  .course__adaptive-menu {
    display: none;
  }
  .courses__text {
    display: block;
    justify-content: space-between;
  }
  .courses__items {
    display: flex;
  }
  .courses__items-block {
    margin-bottom: 20px;
    img {
      margin: 0 auto;
      display: block;
    }
  }
  .course__adaptive-menu {
    display: none;
    flex-direction: column;
    :nth-child(2) {
      margin-bottom: 5px;
    }

    > p {
      font-family: Montserrat;
      font-size: 33px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      text-align: center;
      color: rgba(255, 255, 255, 1);
      margin-bottom: 10px;
    }
    > button {
      height: 59px;
      width: 255px;
      border-radius: 10px;
      background: linear-gradient(180deg, #5599ff 0%, #0f32ae 100%);
      color: rgba(255, 255, 255, 1);
      margin: 0 auto;
    }
  }
  .footer__container {
    padding: 19px 10px;
    .data {
      flex-wrap: wrap;
    }
  }
  .data__block-1 {
    a {
      width: 90%;
      font-size: 13px;
    }
    input {
      width: 90%;
    }
  }
  .footer__social-contacts {
    display: flex;
  }
}
@media (max-width: 575px) {
  .footer__menu ul li a {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  header {
    padding: 5px 0;
  }
  .courses__items,
  .courses__text {
    display: none;
  }
  .course__adaptive-menu {
    display: block;
    padding-bottom: 10px;
    :nth-child(3) {
      margin: 10px auto;
    }
    button {
      font-size: 19px;
      margin: 0 auto;
      display: block;
    }
  }

  .enter__button {
    display: block;
    right: -80px;
  }
  .header {
    > button {
      display: none;
    }
  }
  .menu__list {
    visibility: hidden;
    display: block;
    color: white;
    background: linear-gradient(180deg, #062169 0%, #123287 100%);
    position: absolute;
    right: -216px;
    z-index: 3;
    top: 44px;
    height: 100vh;
    padding: 10px 15px;
    width: 216px;
    transition: right 1s ease, visibility 1s ease;
    &.show {
      visibility: visible;
      right: 0;
    }
    .menu__list-item {
      p {
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        color: rgba(255, 255, 255, 1);
      }
    }
    .menu__list-item-logo {
      display: block;
      img {
        width: 107px;
      }
    }
    > li:last-child {
      display: block;
      margin-top: 65px;
    }
    li:nth-child(2):hover .menu__link-show {
      position: unset;
      background: none;
      padding-left: 18px;
      padding-top: 8px;
      li {
        width: unset;
        padding: 9px 0;
        &:hover {
          background: none;
        }
        a {
          font-size: 16px;
          line-height: 21px;
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
      a {
        color: white;
      }
    }
    .menu__link {
      color: white;
    }
  }

  .nav__toggle {
    display: block;
  }
  .intruduction__text-show {
    display: none;
  }
  .social {
    display: none;
  }
  h1 {
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: 43px;
    text-shadow: none;
  }
  .sub__image {
    display: none;
  }
  .subsub__image {
    display: block;
  }
  .first__text-item {
    display: none;
  }
  .subtitle img:nth-child(2),
  .subtitle img:nth-child(4) {
    display: none;
  }
  .subtitle > h2 {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    width: 200px;
  }
  .intruduction {
    min-height: unset;
    padding: 16px 20px;
  }
  .subtitle {
    margin-bottom: 0;
    div:first-child {
      width: 400px;
      flex-direction: column;
      align-items: start;
      margin-bottom: 0;
      h2 {
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 10px;
        font-size: 30px;
      }
      span {
        display: none;
      }
    }
  }
  .subtitle__firsttext {
    display: none;
  }
  .subtitle__secondtext {
    display: none;
  }
  .subtitle > button {
    margin: 0 auto;
    display: block;
  }
  .evaluate__title {
    display: none;
  }
  .h2 {
    font-size: 24px;
  }
  .evaluate__button {
    margin-bottom: 10px;
  }
  .about__first-text {
    display: none;
  }
  .about__second-image {
    display: none;
  }
  .about__second-text {
    width: 100%;
    max-width: 100%;
  }
  .data__block-1 {
    width: 100%;
    > h3 {
      font-size: 25px;
      line-height: unset;
    }
    input {
      width: 60%;
    }
    a {
      width: 60%;
    }
  }
  .footer__menu {
    width: 100%;
    padding: 0;
  }
  .footer__logo {
    display: none;
  }
  .footer__logo2 {
    display: block;
    width: 100%;
    padding: 20px 0;
    img {
      width: 127px;
    }
  }
  .contacts__tell {
    display: none;
  }
}
@media (max-width: 480px) {
  .intruduction {
    padding: 16px 0;
  }
  .subsub__image {
    width: 140px;
    height: 140px;
    right: -20px;
  }
  .enter__button {
    right: -40px;
  }
  h1 {
    font-size: 24px;
  }
  .subtitle {
    div:first-child {
      width: 250px;
      h2 {
        font-size: 20px;
      }
    }
    > button {
      width: 230px;
    }
  }
  .subtitle > button {
    margin-left: 10px;
  }
  .evaluate__title-text {
    padding: 0;
  }
  .h2 {
    font-size: 14px;
  }
  .data__block-1 {
    input {
      width: 100%;
      &:nth-child(2) {
        margin-bottom: 30px;
      }
      &:nth-child(3) {
        display: none;
      }
    }
    a {
      width: 100%;
    }
  }
  .course__adaptive-menu {
    :nth-child(3) {
      margin: 23px auto;
    }
  }
}
@media (max-width: 320px) {
  .enter__button {
    right: 0;
  }
}
